<!DOCTYPE html>
<html>
<head>
  <title>방송 평점 서비스</title>
  <link rel="stylesheet" href="https://bootswatch.com/lumen/bootstrap.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="cd-header">
  <div class="cd-logo">
    <a href="/home/index">XX 평가 서비스</a></div>
  <nav>
    <ul class="cd-secondary-nav">
    <!--로그인 되어있을 경우-->
      <%# if user_signed_in?%>
         <!--<li><a href="#">방송 등록 하기</a></li>-->
         <!--<li><a href="#"><%#= current_user.email%></a></li>-->
         <!--<li><a href="/users/sign_out">로그아웃</a></li>-->
     <!--로그인 하지 않았을 경우-->
      <%# else %>
       <li><a href="/users/sign_in">로그인</a></li>
       <li><a href="/users/sign_up">회원가입</a></li>
      <%# end %>
    </ul>
  </nav>
</header>
<%= yield %>
</body>
</html>
